* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

span {
    background-color: white !important;
}

.header {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(../img/net.jpg);
    color: white;
}

.separator {
    padding: 60px;
}

.header_text {
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.header_text b {
    color: rgb(0, 155, 153);
}

.intro {
    background-color: black;
    color: white;
}

.sec_title {
    background-color: blue;
    width: 20%;

    text-align: center;
}

.sec_content {
    background-color: red;
    width: 20%;
}
